@import "./variables.scss";

.favorites-btn{
    position: absolute;
    left:20px;
    bottom:10px;
    a{
        display: inline-block;
        .favorites-img{
            height:25px;
        }
    }
}