@import "./variables.scss";

.product-page {


  // Default classes
  .line {
    margin:0 auto;
    background: $line-color;
    width: 90%;
    height: 2px;
  }

  .product-image-slider {
    display: flex;
    justify-content: center;
    width:100vw;
    position: relative;
    .slider-img {
      height: 300px;
    }
    .price {
      position: absolute;
      right:20px;
      bottom:10px;
      &::before{
        content:"\0024";
        font-size:$font-size-xs;
      }
      &::before ,.small-price{
        vertical-align: top;
        font-size:$font-size-xs;
      }
      .large-price{
        font-size:$font-size-m;
      }
    }
  }

  .product-main-details {
    width:90%;
    margin:0 auto;

    .title {
      font-size: $font-size-l;
      text-align: center;
      padding: 10px 0;
    }

  }
  .product-tabs {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    .tab-btn {
      box-shadow: $box-shaddow-btn;
      width: 80px;
      padding: 5px 10px;
      color: orange;
      background: white;
      border: 1px solid #a8a6a6;
      border-radius: 6px;
    }
  }
}
